body {
  font-family: 'Titillium Web', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: white;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}


.blue-italia{
  color: #0066CC;
}

.blue-light-italia{
  color:#00C5CA;
}

.gray.light{
  color:#5A6772;
}

.gray{
  color: #5A6772;
}

.navbar-default{
  background-color: #0066CC;
  border-color: transparent;
}

.navbar-default .navbar-brand{
  color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
  color: #65dde0;
}

.navbar-default .navbar-nav > li > a{
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
  color: #65dde0;
}

.navbar{
  margin-bottom: 0px;
  border-radius: 0px;
}

.container-wrapper{
  width: 100%;
  background-image: linear-gradient(134deg, #004D99 0%, #0066CC 34%, #00C5CA 64%, #65DDE0 100%);
}

.home-container{
  height: calc(100vh - 52px);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.home-container h1{
  font-size: 40px;
  line-height: 48px;
}

.home-container p{
  font-size: 21px;
  margin-bottom: 30px;
}

.btn-explore{
  text-transform: uppercase;
  color: #0066CC;
  font-weight: bold;
}

.btn-explore.btn-default:hover {
    color: #0066CC;
}

.btn-explore.btn-default:active:hover,
.btn-explore.btn-default.active:hover,
.btn-explore.btn-default:active:focus,
.btn-explore.btn-default.active:focus,
.btn-explore.btn-default:active.focus,
.btn-explore.btn-default.active.focus,{
  color: #0066CC;
}

.btn-explore.btn-lg{
  border-radius: 0px;
}

/* explore */

.explore-container{
  height: calc(100vh - 52px);
  overflow: hidden;
}

.filter-container{
  background-color: #5A6772;
  height: calc(100vh - 52px);
  overflow-y: scroll;
}

.viz-container{
  background-color: #F2F2ED;
  height: calc(100vh - 52px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table-controller,
.table-pagination{
  flex-grow: 0;
}

.table-pagination{
    text-align: center;
}

.table-pagination .notPaginated{
  opacity: 0.5;
  pointer-events: none;
}

.table-container{
  flex-grow: 1;
  overflow-y: hidden;
  display: flex;
}


#mainTable {
  background: white;
  color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0px;
}

#mainTable thead {
  display: block;
}

#mainTable thead {
  display: block;
}
#mainTable thead > tr {
  display: flex;
}
#mainTable thead > tr > th {
  flex: 1 1;
}

#mainTable thead > tr > th:nth-child(2) {
  flex: 0 0 10%;
}


#mainTable tbody {
  overflow-y: auto;
  width: 100%;
}

#mainTable tbody {
  display: block;
}

#mainTable tbody > tr {
  display: flex;
}

#mainTable tbody > tr > td {
  flex: 1 1;
}

#mainTable tbody > tr > td:nth-child(2) {
  flex: 0 0 10%;
}


/* slider */

.rzslider .rz-bubble.rz-limit,
.rzslider .rz-bubble{
  color: white;
}

/* filters */

.filter-wrapper{
  width: 100%;
  overflow-y: scroll;
  height: 350px;
}

.filter-checkbox-wrapper{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

/* bars */

.odabes-bar{
  background-color:#00C5CA;
  height: 20px;
  display: block;
}

.fitCell{
  text-align: right;
}

.vizCell{
  min-width: 30%;
}

.titleCell{
  min-width: 25%;
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* utilities */

.flex{
  display: flex;
}
